@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

*{
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#EEEEFF, #C8C7FF);
}

.chatbot-popup{
    position: relative;
    width: 420px;
    background: white;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1), 0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

.chat-header{
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom, blue 30%, white 100%);
    padding: 15px 22px;
    justify-content: space-between;
}

.chat-header .header-info{
    display: flex;
    align-items: center;
    gap: 10px;

}

.header-info .chatbot-logo{
    height: 35px;
    width: 35px;
    padding: 6px;
    fill: #5350C4;
    background: #fff;
    align-self: flex-end;
    margin-bottom: 2px;
    border-radius: 50%;
    flex-shrink: 0;
}

.header-info{
    color: white;
    font-size: 1.31rem;
    font-weight: 600;
}

.chat-header #close-chatbot{
    border: none;
    color: white;
    background: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 1.9rem;
    margin-right: -10px;
    padding-top: 2px;
    cursor: pointer;
    transition: 0.2s ease;
}

.chat-header #close-chatbot:hover{
    background: #3d39ac;
}

.chat-body{
    padding: 25px 22px;
    display: flex;
    gap: 20px;
    overflow-y: auto;
    flex-direction: column;
    height: 460px;
    margin-bottom: 82px;
    scrollbar-width: thin;
    scrollbar-color: #ccccf5 transparent;
}

.chat-body .message{
    display: flex;
    gap: 11px;
    align-items: center;
}

.chat-body .bot-message .bot-avatar{
    height: 35px;
    width: 35px;
    padding: 6px;
    fill: #fff;
    background: #5350C4;
    align-self: flex-end;
    margin-bottom: 2px;
    border-radius: 50%;
    flex-shrink: 0;
}

.chat-body .user-message{
    flex-direction: column;
    align-items: flex-end;
}

.chat-body .message .message-text{
    padding: 12px 16px;
    max-width: 75%;
    font-size: 0.95rem;
}

.chat-body .bot-message.thinking .message-text{
   padding: 2px 16px; 
}

.chat-body .bot-message .message-text {
    background: #F2F2FF;
    border-radius: 13px 13px 13px 3px;
}

.chat-body .user-message .message-text {
    color: #fff;
    background: #5350C4;
    border-radius: 13px 13px 3px 13px;
}

.chat-body .user-message .attachment {
    width: 50%;
    margin-top: -7px;
    border-radius: 13px 13px 3px 13px;
}

.chat-body .bot-message .thinking-indicator{
    display: flex;
    gap: 4px;
    padding-block: 15px;
}

.chat-body .bot-message .thinking-indicator .dot {
    height: 7px;
    width: 7px;
    opacity: 0.7;
    border-radius: 50%;
    background: #6F6BC2;
    animation: dotPulse 1.8s ease-in-out infinite;
}

.chat-body .bot-message .thinking-indicator .dot:nth-child(1){
    animation-delay: 0.2s;
}

.chat-body .bot-message .thinking-indicator .dot:nth-child(2){
    animation-delay: 0.3s;
}

.chat-body .bot-message .thinking-indicator .dot:nth-child(3){
    animation-delay: 0.4s;
}

@keyframes dotPulse {
    0%, 44%{
        transform: translateY(0);
    } 

    28% {
        opacity: 0.4;
        transform: translateY(-4px);
    }
    
    44% {
        opacity: 0.2;
    }
}

.chat-footer{
    bottom: 0;
    width: 100%;
    position: absolute;
    background: #fff;
    padding: 15px 22px 20px;
}

.chat-footer .chat-form{
    display: flex;
    position: relative;
    align-items: center;
    background: #fff;
    border-radius: 32px;
    outline: 1px solid #b8b7b7cc;
}

.chat-footer .chat-form:focus-within {
    outline: 2px solid #5350C4;
}

.chat-form .message-input{
    border: none;
    outline: none;
    height: 47px;
    width: 100%;
    resize: none;
    max-height: 180px;
    white-space: pre-line;
    font-size: 0.95rem;
    padding: 14px 0 13px 18px;
    border-radius: inherit;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.chat-form .message-input:hover {
    scrollbar-color: #ccccf5 transparent;
}

.chat-form .chat-controls{
    display: flex;
    height: 47px;
    gap: 3px;
    align-items: center;
    align-self: flex-end;
    padding-right: 6px;
}

.chat-form .chat-controls button{
    width: 35px;
    height: 35px;
    font-size: 1.15rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    color: #706DB0;
    background: none;
    transition: 0.2s ease;
}

.chat-form .chat-controls #send-message {
    background: #7470e4;
    display: block;
    color: #fff;
}
.chat-form .message-input:valid~.chat-controls #send-message
 {
    background: #1611b6;
}

.chat-form .chat-controls #send-message:hover{
    background: #3d39ac;
}

.chat-form .chat-controls button:hover{
    background: #f1f1ff;
}

.chat-form .file-upload-wrapper {
    height: 35px;
    width: 35px;
    position: relative;
}

.chat-form .file-upload-wrapper :where(img, button) {
    position: absolute;
}

.chat-form .file-upload-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.chat-form .file-upload-wrapper #file-cancel {
    color: #ff0000;
    background: #fff;
}
.chat-form .file-upload-wrapper :where(img,  #file-cancel),
.chat-form .file-upload-wrapper.file-uploaded #file-upload {
    display: none;
}

.chat-form .file-upload-wrapper.file-uploaded img, 
.chat-form .file-upload-wrapper.file-uploaded:hover #file-cancel {
    display: block;
}

em-emoji-picker {
    position: absolute;
    left: 50%;
    top: -337px;
    width: 100%;
    max-width: 350px;
    max-height: 330px;
    transform: translateX(-50%);
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transition: all 0.2s ease;
}

body.show-emoji-picker em-emoji-picker {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
}

/* Responsive media query for moiles */
@media (max-width: 520px) {
    #chatbot-toggler {
        right: 20px;
        bottom: 20px;
    }

    .chatbot-popup {
        right: 0;
        bottom: 0;
        height: 100%;
        border-radius: 0;
        width: 100%;
    }
    .chatbot-popup .chat-header {
        padding: 12px 15px;
    }

    .chat-body {
        padding: 25px 15px;
    }
    .chat-form .file-upload-wrapper.file-uploaded #file-cancel {
        opacity: 0;
    }
}











